<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51624022599-93ck2i59mi4lv6kldbb03gb5e0a7fvla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51624022599-93ck2i59mi4lv6kldbb03gb5e0a7fvla</string>
	<key>API_KEY</key>
	<string>AIzaSyBumFCsLOOgUDyT1pYACXwfcr63igcgUgw</string>
	<key>GCM_SENDER_ID</key>
	<string>51624022599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MuFitnessGal</string>
	<key>PROJECT_ID</key>
	<string>muuufitness</string>
	<key>STORAGE_BUCKET</key>
	<string>muuufitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51624022599:ios:2ef0cee8978fe14eed9762</string>
	<key>DATABASE_URL</key>
	<string>https://muuufitness.firebaseio.com</string>
</dict>
</plist>